<ion-header [translucent]="true">
  <ion-toolbar class="custom-toolbar">
    <ion-searchbar placeholder="Busca aquí..." animated="true" class="custom-searchbar"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- Slider utilizando Swiper -->
  <swiper-container
  (slidechange)="swiperSlideChanged($event)"
  [loop]="true"
  [autoplay]="{ delay: 3000, disableOnInteraction: true }"
  [pagination]="{ clickable: true }">
  <swiper-slide *ngFor="let carrusel of carruseles">
    <img [src]="carrusel.url" alt="Carrusel Image" class="carrusel-image"/> <!-- Corregido -->
  </swiper-slide>
  </swiper-container>
</ion-content>
